<!DOCTYPE html>
<html>
<head>
    <!-- Meta Tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!--Favicon Link-->
    <link rel="shortcut icon" href="assets/img/favicon.ico">

    <!-- Quote Theme -->
    @Styles.Render("~/Content/css")

    <!-- Title -->
    <title>Homepage (Work in Progress Site)</title>
</head>
<body>
    <!-- Header Content -->
    <div class="container-fluid">
        <div class="navbar-header bg-info">
            <header class="navbar-text">
                <h1>My Personal Site</h1>
                <p>
                    Excuse the mess, but I'm still working on things. This will look pretty eventually, I promise!
                </p>
            </header>
        </div>
        <!-- Nav Bar Content -->
        <div class="container-fluid bg-info">
            <nav class="nav navbar-left">
                <ul>
                    <li class="btn btn-default" href="#" role="button">
                        @Html.ActionLink("Home", "Index", "Home")
                    </li>
                    <li class="btn btn-default" href="#" role="button">
                        @Html.ActionLink("Contact Me", "Contact", "Home")
                    </li>
                    <li class="btn btn-default" href="#" role="button">
                        @Html.ActionLink("Links", "Links", "Home")
                    </li>
                    <li class="btn btn-default" href="#" role="button">
                        @Html.ActionLink("Projects", "Projects", "Home")
                    </li>
                    <li class="btn btn-default" href="#" role="button">
                        @Html.ActionLink("Resume", "Resume", "Home")
                    </li>
                </ul>
            </nav>
        </div>
        <!-- Nav Bar Content -->
    </div>    
    <!-- Header Content -->
    
    <!-- Main Content of the Page -->
    <div class="container-fluid">
        @RenderBody()
    </div>    
    <!-- Main Content of the Page -->
    <!-- Footer Content -->
    <div class="container-fluid">
        <div class="col-md-4">
            <footer class="panel-footer bg-success">&#169; Mack Jones 2020</footer>
        </div>
    </div>    
    <!-- Footer Content -->
    <!-- Boostrap Scripting -->   
    @Scripts.Render("~/bundles/bootstrap")

    @RenderSection("scripts", required: false)
</body>
</html>