<!DOCTYPE html>
<html lang="en">
<!--Head Content-->
<head>
    <!--Meta Tags-->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    
    <!--Favicon-->
    <link rel="shortcut icon" href="~/Content/assets/img/favicon.ico">

    <!--Title of Page-->
    <title>@ViewBag.Title</title>

    <!--CSS Tags-->
    <link href="~/Content/assets/css/bootstrap.css" rel="stylesheet">
    <link href="~/Content/assets/css/animate.css" rel="stylesheet">
    <link href="~/Content/assets/css/prettyPhoto.css" rel="stylesheet">
    <link href="~/Content/assets/css/pe-icons.css" rel="stylesheet">
    <link href="~/Content/assets/css/style.css" rel="stylesheet">
    <link href="~/Content/assets/css/font-awesome.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Cabin:300,400,700,300italic,400italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Lato:400,300,700' rel='stylesheet' type='text/css'>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->

    <!--Script Tags-->
    <script src="~/Content/assets/js/jquery.js"></script>
    <script src="~/Content/assets/js/modernizr.custom.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            jQuery('#headerwrap').backstretch([
                "~/Content/assets/img/bg/bg1.jpg",
                "~/Content/assets/img/bg/bg2.jpg",
                "~/Content/assets/img/bg/bg3.jpg"
            ], { duration: 8000, fade: 500 });

            // Map Position And Settings
            $("#mapwrapper").gMap({
                controls: false,
                scrollwheel: false,
                markers: [{
                    latitude: 40.7566,
                    longitude: -73.9863,
                    icon: {
                        image: "~/Content/assets/img/marker.png",
                        iconsize: [44, 44],
                        iconanchor: [12, 46],
                        infowindowanchor: [12, 0]
                    }
                }],
                icon: {
                    image: "~/Content/assets/img/marker.png",
                    iconsize: [26, 46],
                    iconanchor: [12, 46],
                    infowindowanchor: [12, 0]
                },
                latitude: 40.7566,
                longitude: -73.9863,
                zoom: 14
            });
        });
    </script>

</head>
<!-- End Head Content-->

<!--Body Content-->
<body>

    <!--QUOTE Preloader-->
    <div id="preloader"></div>

    <!--QUOTE Search Box-->
    <div id="search-wrapper">
        <div class="container">
            <input id="search-box" placeholder="Search"><span class="close-trigger"><i class="fa fa-angle-up"></i></span>
        </div>
    </div>

    <!-- Nav Content -->
    <nav class="menu" id="theMenu">
        <div class="menu-wrap">
            <i class="fa fa-bars menu-close"></i>
            <!--QUOTE Menu Logo-->
            <div id="menu-logo">
                <h2><span class="pe-7s-chat logo-icon"></span> Mack Jones</h2>
            </div>

            <!--QUOTE Main Menu-->
            <ul id="main-menu">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Home <i class="fa fa-home menu-icon"></i></a>
                    <!--Main Links to get around the Site-->
                    <ul class="dropdown-menu">
                        <li><a href="@Url.Action("Index", "Home")">Home Page</a></li>
                        <li><a href="@Url.Action("Projects", "Home")">My Projects</a></li>
                        <li><a href="@Url.Action("Links", "Home")">Links</a></li>
                        <li><a href="@Url.Action("Contact", "Home")">Contact Me</a></li>
                        <li><a href="@Url.Action("Resume", "Home")">My Resume</a></li>
                    </ul>
                </li>                
            </ul>            
        </div>
    </nav>
    <!--End Nav Content -->
   
    @RenderBody()

    <!-- Footer Content -->
    <div id="footerwrap">
        <div class="container">
            <div class="row">
                <!--Site Info Block-->
                <div class="col-lg-4">
                    <h4 class="widget-title">Site Info</h4>
                    <p>This site was built as an assignment for Centriq as a Portfolio piece. This site was built using the .Net Framework using the MVC style. Front-End functionality was done with HTML and JavaScript, and all Back-End functionality was done with C#.  All Templates/Resources belong to their respective owners and I make no claims of them as my own. This site will be updated periodically once all the functionality is up and running.</p>
                </div><!--col-lg-4-->
                <!--Dev Location Block-->
                <div class="col-lg-4">
                    <h4 class="widget-title">Dev Location</h4>
                    <p>
                        Developed In:<br />
                        Overland Park,<br />
                        Kansas.<br />                        
                        Please refer to my Contact Page for my Contact information.
                    </p>
                </div><!--col-lg-4-->
            </div><!-- row -->
        </div><!-- container -->
        <div id="footer-copyright">
            <div class="container">
                &#169;Mack Jones (QUOTE Template By Distinctive Themes)
            </div>
        </div>
    </div>

    <!--QUOTE GoToTop Button-->
    <a id="gototop" class="gototop no-display" href="#"><i class="fa fa-angle-up"></i></a>
    <!-- End Footer Content -->

    <!--QUOTE Scripts-->
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="~/Content/assets/js/bootstrap.min.js"></script>
    <script src="~/Content/assets/js/plugins.js"></script>
    <script src="~/Content/assets/js/imagesloaded.js"></script>
    <script src="~/Content/assets/js/prettyPhoto.js"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCWDPCiH080dNCTYC-uprmLOn2mt2BMSUk&amp;sensor=true"></script>
    <script src="~/Content/assets/js/init.js"></script>
</body>
<!--End Body Content-->
</html>
